@use 'sass:math';
@use '../base/theme' as theme;

// -- Contents --
$contents-w: 1280px;
$contents-h: 720px;
$contents-ver-margin: 50px;

// -- Title --
// Title-Up
$title-w: 280px;
$title-h: auto;
$title-border: theme.$border;
$title-color: rgb(84, 54, 54);
$title-font-style: italic;
$title-font-size: 30pt;
$title-line-height: 30pt;
$title-font: 'Times New Roman';

// Title-Down
$title-down-padding-bottom: 20px;
$title-down-line-height: 16pt;
$title-down-font-size: 10pt;
$title-down-font: 'Verdana';

// -- Contents Box --
$contents-box-w: 1000px;
$contents-box-h: 720px;

// -- Nav --
$nav-w: auto;
$nav-h: 120px;
$nav-border: theme.$border;
$nav-mail-img-size: 30px;
$nav-pos-right: 10px;
$nav-pos-bottom: 10px;

// -- Section --
$section-w: auto;
$section-h: 600px;

// article
$article-w: 260px;
$article-h: auto;
$article-padding: 70px 40px;

$article-no-focus-opacity: 0.4;
$article-focus-opacity: 1;
$article-opacity-duration: 1s;

// article background elements
$article-before-img-path: '../../Images/back.png';
$article-before-w: $article-w;
$article-before-h: $section-h;
$article-before-move-duration: 0.5s;

// article top text
$article-textNum-ver-margin: 20px;
$article-textNum-font-size: 30px;
$article-textNum-line-height: 10px;

// article images
$article-img-w: 170px;
$article-img-h: 95px;
$article-img-duration: 0.5s;

// article images hover event
$article-img-hover-w: 200px;
$article-img-hover-h: math.div($article-img-hover-w, $article-img-w) * $article-img-h;
