@use 'sass:math';
@use '../themes/theme' as theme;

// -- Base --
$contents-w: 1280px;
$contents-h: 720px;
$contents-ver-margin: 50px;

// -- Title --
// title-Up
$title-w: 280px;
$title-h: auto;
$title-border: theme.$border;
$title-color: theme.$title-color;
$title-font-style: italic;
$title-font-size: 30pt;
$title-line-height: 30pt;
$title-font: theme.$title-font;

// title-Down
$title-down-padding-bottom: 20px;
$title-down-line-height: 16pt;
$title-down-font-size: 10pt;
$title-down-font: theme.$title-down-font;

// -- Contents Box --
$contents-box-w: $contents-w - $title-w;
$contents-box-h: $contents-h;

// -- Nav --
$nav-w: auto;
$nav-h: 120px;
$nav-border: theme.$border;
$nav-mail-img-size: 30px;
$nav-pos-right: 10px;
$nav-pos-bottom: 10px;

// -- Section --
$section-w: auto;
$section-h: $contents-box-h - $nav-h;

// article
$article-cnt: 4; // article 개수
$article-w: math.div($contents-box-w, $article-cnt);
$article-h: auto;

$article-padding-ver: 70px;
$article-padding-hor: 40px;
$article-padding: $article-padding-ver $article-padding-hor;

$article-no-focus-opacity: 0.4;
$article-focus-opacity: 1;
$article-opacity-duration: 1s;

// article background elements
$article-before-img-path: '../../Images/back.png';
$article-before-w: $article-w;
$article-before-h: $section-h;
$article-before-move-duration: 0.5s;

// article top text
$article-textNum-ver-margin: 20px;
$article-textNum-font-size: 30px;
$article-textNum-line-height: 10px;

// article images
$article-img-w: $article-w - (2*$article-padding-hor); // 이미지 사이즈를 article 내부 컨텐츠 영역에 맞도록 계산
$article-img-h: auto;
$article-img-duration: 0.5s;

// article images hover event
$article-img-hover-w: 200px;
$article-img-hover-h: auto;