@use 'sass:math';
@use '../themes/theme' as theme;
@use '../../../Functions' as funcs;

// -- Base --
$contents-w: 1280px;
$contents-h: 720px;
$contents-ver-margin: 50px;

// -- Title --
$title-w: 280px;
$title-h: auto;
$title-border: theme.$border;
$title-color: theme.$title-color;

// title-Up
$title-font: (
    "style": italic,
    "size": 30pt,
    "line-height": 30pt,
    "font-family": theme.$title-font
);

// title-Down
$title-down-font: (
    "size": 10pt,
    "line-height": 16pt,
    "font-family": theme.$title-down-font
);
$title-down-padding-bottom: 20px;

// -- Contents Box --
$contents-box-w: $contents-w - $title-w;
$contents-box-h: $contents-h;

// -- Nav --
$nav-w: auto;
$nav-h: 120px;
$nav-border: theme.$border;
$nav-mail-img-size: 30px;
$nav-pos-right: 10px;
$nav-pos-bottom: 10px;

// -- Section --
$section-w: auto;
$section-h: $contents-box-h - $nav-h;

// article
$article-cnt: 4; // article 갯수
$article-w: math.div($contents-box-w, $article-cnt);
// $article-h: auto;
$article-h: 100%;

$article-padding-ver: 70px;
$article-padding-hor: 40px;
$article-padding: $article-padding-ver $article-padding-hor;

$article-no-focus-opacity: 0.4;
$article-focus-opacity: 1;
$article-opacity-duration: 1s;

// article background elements
$article-before-move-duration: 0.5s;

// article top text
$article-textNum-ver-margin: 20px;
$article-title-margin-bottom: 15px;
$article-textNum-font: (
    "size": 30px,
    "line-height": 10px
);


// article images (너비 지정 시 높이는 비율에 맞게 자동으로 계산됨)
$article-img-w: $article-w - (2*$article-padding-hor); // 이미지 사이즈를 article 내부 컨텐츠 영역에 맞도록 계산
$article-img-duration: 0.5s;

// article images hover event
$article-img-hover-w: 200px;