@use '../base/theme' as theme;

$base-w: 875px;
$base-h: auto;
$base-ver-margin: 50px;
$base-gap: 10px;

$base-img-w: 105px;
$base-img-h: 95px;
$base-img-border-radius: 10px;
$base-img-skew-x: -10deg;

$base-img-duration: 1s;
