// basic themes
$color: rgb(50, 50, 50);
$font-color: white;
$border: 2px solid white;

// title
$title-color: rgb(84, 54, 54);
$title-font: 'Times New Roman';
$title-down-font: 'Verdana';

// hero character page
$hero-background-color: lightgray;
$hero-background-color-hover: pink;