@mixin set-style($w, $h, $p, $duration, $img-path){
    width: $w; height: $h;
    padding: $p;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
    position: relative;
    transition-duration: $duration;
    background-image: url($img-path);
}