// 폰트 스타일 지정 mixin

@mixin set-text-styles($font){
    @each $key, $v in $font{
        @if $key == "style" {font-style: $v;}
        @else if $key == "size" {font-size: $v;}
        @else if $key == "line-height" {line-height: $v;}
        @else if $key == "font-family" {font-family: $v;}
    }
}