// hero page's skew block style

@mixin make-skew-block($w: 105px, $h: 95px, $color: lightgray, $skewDeg: -10deg, $radius: 10px, $scale: 1){
    display: block;
    width: $w; height: $h;
    transform: skewX($skewDeg) scale($scale, $scale);
    border-radius: $radius;
    background-color: $color;
}