// hero page's skew block style

@mixin make-block($w: none, $h: none, $color: none, $skewDeg: -10deg, $radius: none, $scale: 1){
    // skew block의 필수 스타일
    display: block;
    transform: skewX($skewDeg) scale($scale, $scale);

    // skew block의 비필수 스타일
    @if $w != none {width: $w;}
    @if $h != none {height: $h;}
    @if $radius != none {border-radius: $radius;}
    @if $color != none {background-color: $color;}
}