$main: (
    img1: (
        path: "/Images/img1.png",
        size: 1374 773
    ),
    img2: (
        path: "/Images/img2.png",
        size: 1374 773
    ),
    img3: (
        path: "/Images/img3.png",
        size: 1374 773
    ),
    img4: (
        path: "/Images/img4.png",
        size: 1374 773
    )
);

$article-background-img-path: "/Images/back.png";