@use './modules/reset' as reset;
@use './constants/' as cons;

*{
    @include reset.reset-styles;
}

#contents{
    width: 1280px; height: 720px;
    margin: 50px auto;
    background-color: rgb(50, 50, 50);
    color: white;
    display: flex;
}

/* Title */

.titleBox{
    width: 280px; 
    border-right: 2px solid white;
    display: flex; flex-direction: column;
    background-color: rgb(84, 54, 54);

    .titles{
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .titleUp{
        align-items: center;
        p{
            font-style: italic;
            font-size: 30pt;
            line-height: 50px;
            font-family: 'Times New Roman';
        }
    }

    .titleDown{
        padding-bottom: 20px;
        align-items: flex-end;
        p{
            text-align: center;
            line-height: 16pt;
            font-size: 10px; 
            font-family: Verdana; 
        }
    }
}



/* contents box 영역 */
.contents_box{
    width: 1000px; height: 720px;
    display: flex; 
    flex-direction: column;

    /* navigation 영역 */
    nav{
        width: 100%; height: 120px;
        border-bottom: 2px solid white;
        position: relative;
        .mail_img{
            display: block;
            width: 30px; height: 30px;
            position: absolute;
            right: 10px; bottom: 10px;
        }
    }
}


/* section 영역 */
section{
    width: 100%; height: 600px;
    display: flex;
}
article{
    width: 260px;
    flex-grow: 1;
    padding: 70px 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.4;
    position: relative;
    background-image: url('../../Images/back.png');
    
    transition-duration: 1s;

    &:hover{opacity: 1;}
    &::before{
        content: "";
        display: block;
        width: 250px; height: 600px;
        z-index: -1;
        position: absolute; top: 0px; right: 0px;
        background-color: rgb(50, 50, 50);
        transition-duration: 0.5s;
    }
    &:hover::before{transform: translateX(260px);}

    .text{
        .textNum{
            margin: 20px 0px;
            font-size: 30px;
            line-height: 10px;
        }
    }
    a{
        display: block;
        z-index: 1;
        img{
            display: block;
            width: 170px; height: 95px;
            transition-duration: 0.5s;
        }
    }
    &:hover img{width: 200px; height: 111.76px;}
} 