@use './mixins' as mixins;
@use './constants' as cons;
@use '../Datas' as datas;
@use '../Functions/' as funcs;

* {@include mixins.reset-set-styles;}

#contents{
    width: cons.$page-main-contents-w; height: cons.$page-main-contents-h;
    margin: cons.$page-main-contents-ver-margin auto;
    background-color: cons.$theme-color;
    display: flex;
}

/* Title */
.titleBox{
    width: cons.$page-main-title-w;
    height: cons.$page-main-title-h;
    border-right: cons.$page-main-title-border;
    display: flex; flex-direction: column;
    background-color: cons.$page-main-title-color;

    .titles{
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .titleUp{
        align-items: center;
        p{@include mixins.font-set-text-styles(cons.$page-main-title-font);}
    }

    .titleDown{
        padding-bottom: cons.$page-main-title-down-padding-bottom;
        align-items: flex-end;
        p{
            text-align: center;
            @include mixins.font-set-text-styles(cons.$page-main-title-down-font);
        }
    }
}

/* -- contents box 영역 -- */
.contents_box{
    width: cons.$page-main-contents-box-w; height: cons.$page-main-contents-box-h;
    display: flex; 
    flex-direction: column;
}

/* navigation 영역 */
nav{
    width: cons.$page-main-nav-w;
    height: cons.$page-main-nav-h;
    border-bottom: cons.$page-main-nav-border;
    position: relative;
    .mail_img{
        display: block;
        width: cons.$page-main-nav-mail-img-size; height: cons.$page-main-nav-mail-img-size;
        position: absolute;
        right: cons.$page-main-nav-pos-right;
        bottom: cons.$page-main-nav-pos-bottom;
    }
}


/* section 영역 */
section{
    width: cons.$page-main-section-w;
    height: cons.$page-main-section-h;
    display: flex;
}
article{
    @include mixins.article-set-style(
        cons.$page-main-article-w,
        cons.$page-main-article-h,
        cons.$page-main-article-padding,
        cons.$page-main-article-opacity-duration,
        datas.$img-article-background-img-path
    );
    opacity: cons.$page-main-article-no-focus-opacity;
    &:hover{opacity: cons.$page-main-article-focus-opacity;}

    // article background element (hover -> slide)
    &::before{
        content: "";
        display: block;
        width: cons.$page-main-article-w;
        height: cons.$page-main-article-h;
        z-index: -1;
        position: absolute; top: 0px; right: 0px;
        background-color: cons.$theme-color;
        transition-duration: cons.$page-main-article-before-move-duration;
    }
    &:hover::before{transform: translateX(cons.$page-main-article-w);}

    // article texts
    .text{
        .textNum{
            margin: cons.$page-main-article-textNum-ver-margin 0px;
            @include mixins.font-set-text-styles(cons.$page-main-article-textNum-font);
        }
        .textNum + p{ margin-bottom: cons.$page-main-article-title-margin-bottom; font-weight: bold;}
    }
    
    // article images
    @each $key, $v in datas.$img-main{
        $path: map-get($v, path);
        $size: map-get($v, size);

        .#{$key}{
            display: block;
            width: cons.$page-main-article-img-w;
            height: funcs.imgFunc-size-cal-hight(nth($size, 1), nth($size, 2), cons.$page-main-article-img-w); // 가로 사이즈에 맞게 세로 사이즈 계산

            background-image: url($path);
            background-size: cover;
            transition-duration: cons.$page-main-article-img-duration;
        }
        &:hover .#{$key}{
            width: cons.$page-main-article-img-hover-w;
            height: funcs.imgFunc-size-cal-hight(nth($size, 1), nth($size, 2), cons.$page-main-article-img-hover-w); // 가로 사이즈에 맞게 세로 사이즈 계산
        }
    }

} 