@use './mixins/reset' as reset;
@use './constants' as cons;

*{
    @include reset.reset-styles;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: cons.$page-second-base-w; 
    height: cons.$page-second-base-h;
    margin: cons.$page-second-base-ver-margin auto;
    justify-content: center;
    gap: cons.$page-second-base-gap;

    img{
        display: block;
        width: cons.$page-second-base-img-w; 
        height: cons.$page-second-base-img-h;
        border-radius: cons.$page-second-base-img-border-radius;
        transform: skewX(cons.$page-second-base-img-skew-x);
        transition-duration: cons.$page-second-base-img-duration;
        background-color: cons.$theme-hero-background-color;
        &:hover{
            transform: skewX(cons.$page-second-base-img-skew-x) scale(1.5, 1.5);
            z-index: 1;
            background-color: cons.$theme-hero-background-color-hover;
        }
    }
}
