@use './mixins' as mixins;
@use './constants' as cons;

*{@include mixins.reset-set-styles;}
main{
    display: flex;
    flex-wrap: wrap;
    width: cons.$page-second-base-w; 
    height: cons.$page-second-base-h;
    margin: cons.$page-second-base-ver-margin auto;
    justify-content: center;
    gap: cons.$page-second-base-gap;

    div{
        overflow: hidden;
        img{ // 이미지 왜곡을 없애기 위해 반대방향으로 skew
            @include mixins.skew-make-block(
                $w: 100%,
                $skewDeg: (-1*cons.$page-second-base-img-skew-x)
            );
        }
        
        @include mixins.skew-make-block(
            cons.$page-second-base-img-w,
            cons.$page-second-base-img-h,
            cons.$page-second-base-img-background-color,
            cons.$page-second-base-img-skew-x,
            cons.$page-second-base-img-border-radius,
            cons.$page-second-base-img-scale
        );
        transition-duration: cons.$page-second-base-img-duration;
        
        &:hover{
            @include mixins.skew-make-block(
                $color: cons.$page-second-base-img-background-color-hover,
                $skewDeg: cons.$page-second-base-img-skew-x,
                $scale: cons.$page-second-base-img-scale-hover
            );
            z-index: 1;
        }
    }
}
