@use './mixins' as mixins;
@use './constants' as cons;

*{
    @include mixins.reset-set-styles;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: cons.$page-second-base-w; 
    height: cons.$page-second-base-h;
    margin: cons.$page-second-base-ver-margin auto;
    justify-content: center;
    gap: cons.$page-second-base-gap;

    img{
        @include mixins.skew-make-skew-block(
            cons.$page-second-base-img-w,
            cons.$page-second-base-img-h,
            cons.$page-second-base-img-background-color,
            cons.$page-second-base-img-skew-x,
            cons.$page-second-base-img-border-radius,
            cons.$page-second-base-img-scale
        );
        transition-duration: cons.$page-second-base-img-duration;
        background-color: cons.$theme-hero-background-color;
        &:hover{
            @include mixins.skew-make-skew-block(
                cons.$page-second-base-img-w,
                cons.$page-second-base-img-h,
                cons.$page-second-base-img-background-color-hover,
                cons.$page-second-base-img-skew-x,
                cons.$page-second-base-img-border-radius,
                cons.$page-second-base-img-scale-hover
            );
            z-index: 1;
            background-color: cons.$theme-hero-background-color-hover;
        }
    }
}
